@page "/pizzadel"
@rendermode InteractiveServer

<h3>PizzaDelivery</h3>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.Bacon'/>
	Bacon
</label>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.MoreBacon'/>
	More Bacon
</label>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.ExtraExtraBacon'/>
	ExtraExtraBacon
</label>

<p>Topping Selection Checker</p>
<ul>
@if (pizza.PizzaTopping.Bacon)
{
		<li>Bacon</li>
}
@if (pizza.PizzaTopping.MoreBacon)
{
		<li>More Bacon</li>
}
@if (pizza.PizzaTopping.ExtraExtraBacon)
{
		<li>Extra Extra Bacon</li>
}
</ul>

<p>Total Price: $@pizza.GetFinalPrice()</p>


@code {
	Pizza pizza = new Pizza();

}

