@page "/pizzadel"
@rendermode InteractiveServer

<h3>PizzaDelivery</h3>

<PizzaCrust></PizzaCrust>
<PizzaTopping></PizzaTopping>


<p>Total Price: $@pizza.GetTotPrice()</p>

@code {
	Pizza pizza = new Pizza();

}

