@page "/calculator"
@rendermode InteractiveServer

<PageTitle>Calculator Page</PageTitle>

<h1>Have fun using our calculator app!!</h1>

<input type ='text' @bind="num1"/>

<select @bind="symDec">
    <option value="/">/</option>
    <option value="*">*</option>
    <option value="+">+</option>
    <option value="-">-</option>
</select>

<input type ='text' @bind="num2"/>

<p>Solution: @solutionMath</p>

<button @onclick="domath">Click me to do math</button>

@code {
    private string? num1;
    private string? num2;

    private char? symDec;

    private int solutionMath;

    private void domath(){

    if (!string.IsNullOrWhiteSpace(num1) && !string.IsNullOrWhiteSpace(num2)) {
        int number1 = int.Parse(num1);
        int number2 = int.Parse(num2);

        switch (symDec)
        {
            case '/':
                solutionMath = number1 / number2;
                break;
            case '*':
                solutionMath = number1 * number2;
                break;
            case '+':
                solutionMath = number1 + number2;
                break;
            case '-':
                solutionMath = number1 - number2;
                break;
        }
    }
}
}
